@using MovieProMVC.Models.ViewModels
@model LandingPageViewModel

@{
    ViewData["Title"] = "MoviePro";
}

<style>
    .clamp-overview {
        display: -webkit-box;
		-webkit-line-clamp: 4; /* Number of lines to show */
		-webkit-box-orient: vertical;
		overflow: hidden;
    }

    .clamp-title {
		display: -webkit-box;
		-webkit-line-clamp: 2; /* Number of lines to show */
		-webkit-box-orient: vertical;
		overflow: hidden;
    }
</style>

<div class="row">
    @foreach (var movie in Model.Upcoming.Results)
    {
        <div class="col-sm-3 mb-2">
            <div class="card" style="width: 18rem;">
                <img src="@movie.poster_path" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title clamp-title">@movie.title</h5>
                    <p class="card-text clamp-overview">@movie.overview</p>
                    <button class="btn btn-lg btn-warning">Details</button>
                </div>
            </div>
        </div>
    }
</div>