@using MovieProMVC.Models.ViewModels
@model LandingPageViewModel

@{
    ViewData["Title"] = "MoviePro";
}

<style>
    .clamp-overview {
        display: -webkit-box;
		-webkit-line-clamp: 4; /* Number of lines to show */
		-webkit-box-orient: vertical;
		overflow: hidden;
    }

    .clamp-title {
		display: -webkit-box;
		-webkit-line-clamp: 2; /* Number of lines to show */
		-webkit-box-orient: vertical;
		overflow: hidden;
    }

    h5.card-title {
        height: 2.5em;
    }
</style>

<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                @foreach (var movie in Model.Upcoming.Results)
                {
                    <div class="col-sm-3 mb-2">
                        <div class="card" style="width: 18rem;">
                            <img src="@movie.poster_path" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title clamp-title">@movie.title</h5>
                                <p class="card-text clamp-overview">@movie.overview</p>
                                <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.id" class="btn btn-lg w-100 fw-bold btn-warning">Details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>"
</div>